.dijitPopup {
    position:absolute;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    border: 1px solid #b5bcc7;
    padding: 2px;
    -webkit-overflow-scrolling:touch;
}

.dijitMenuPassive .dijitMenuItemHover, .dijitMenuItemSelected{
	background-color: white;
	color:black;
}

.map .tooltip {
    background-color: #e5f2fe; !important
}


/*.dijitReset {
    position:absolute;
    background-color: #f2f2f2;
    margin: 0px;
    border: 1px solid #b5bcc7;
}*/